/* .box {
  max-width: 80%;
  margin: 3rem auto;
  background: #f8f9fa;
  border-radius: 1rem;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.07);
  padding: 2.5rem 2rem;
}

span {
  font-weight: 700;
  font-style: oblique;
} */
